* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header{
    display: flex;
     border: 2px solid white;
     box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
     justify-content: space-between;
  }
  .left{
    margin-left: 40px;
  }

  .left img {
    width: 80px;
    margin: 5px 40px 0 10px;
    cursor: pointer;
  }

  .center .input{
     width: 300px;
     border-radius : 10px;
     margin: 24px 20px 0 0;
     padding: 10px;
  }
.right{
    margin-right: 40px;
}
  .right img{
    width: 50px;
    margin: 10px 10px;
    border-radius: 26px;
  }

  .center button {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: green;
    color: white;}
